In [3]:
from pandas_datareader import data
import pandas as pd

In [4]:
companies_dict = {
    "Adani Ports & SEZ Limited":"ADANIPORTS",
"Asian Paints Ltd":"ASIANPAINT",
"Axis Bank":"AXISBANK",
"Bajaj Auto":"BAJAJ-AUTO",
"Bajaj Finance":"BAJFINANCE",
"Bajaj Finserv":"BAJAJFINSV",
"Bharti Airtel":"BHARTIARTL",
"Bharti Infratel Ltd.":"INFRATEL",
"BPCL":"BPCL",
"Cipla":"CIPLA",
"Coal India":"COALINDIA",
"Dr. Reddy's Laboratories":"DRREDDY",
"Eicher Motors":"EICHERMOT",
"GAIL":"GAIL",
"Grasim Industries":"GRASIM",
"HCL Technologies":"HCLTECH",
"HDFC":"HDFC",
"HDFC Bank":"HDFCBANK",
"Hero MotoCorp":"HEROMOTOCO",
"Hindalco Industries":"HINDALCO",
"Hindustan Unilever":"HINDUNILVR",
"HPCL":"HINDPETRO",
"ICICI Bank":"ICICIBANK",
"Indiabulls Housing Finance":"IBULHSGFIN",
"IndusInd Bank":"INDUSINDBK",
"Infosys":"INFY",
"IOC":"IOC",
"ITC Limited":"ITC",
"JSW Steel":"JSWSTEEL"
}

In [5]:
#list of ticker names
companies = list(companies_dict.values())
print(companies)

['ADANIPORTS', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJFINANCE', 'BAJAJFINSV', 'BHARTIARTL', 'INFRATEL', 'BPCL', 'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT', 'GAIL', 'GRASIM', 'HCLTECH', 'HDFC', 'HDFCBANK', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'HINDPETRO', 'ICICIBANK', 'IBULHSGFIN', 'INDUSINDBK', 'INFY', 'IOC', 'ITC', 'JSWSTEEL']

In [6]:
#import yahoo finance
import fix_yahoo_finance as yf

In [16]:
#download data
panel_data =pd.DataFrame( yf.download(companies, '2016-01-01', '2018-12-31'))

[*********************100%***********************]  29 of 29 downloaded

In [8]:
print(panel_data.axes)

[DatetimeIndex(['2015-12-31', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14',
               ...
               '2018-12-14', '2018-12-17', '2018-12-18', '2018-12-19',
               '2018-12-20', '2018-12-21', '2018-12-24', '2018-12-26',
               '2018-12-27', '2018-12-28'],
              dtype='datetime64[ns]', name='Date', length=754, freq=None), MultiIndex(levels=[['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], ['ADANIPORTS', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJFINANCE', 'BAJAJFINSV', 'BHARTIARTL', 'INFRATEL', 'BPCL', 'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT', 'GAIL', 'GRASIM', 'HCLTECH', 'HDFC', 'HDFCBANK', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'HINDPETRO', 'ICICIBANK', 'IBULHSGFIN', 'INDUSINDBK', 'INFY', 'IOC', 'ITC', 'JSWSTEEL']],
           labels=[[4, 2, 3, 1, 0, 5], [25, 25, 25, 25, 25, 25]])]

In [17]:
panel_data.head()

             Open  High    Low  Close Adj Close   Volume
             INFY  INFY   INFY   INFY      INFY     INFY
Date
2015-12-31  8.470  8.47  8.360  8.375  6.895006  2945400
2016-01-04  8.230  8.23  8.115  8.120  6.685069  8218400
2016-01-05  8.150  8.20  8.070  8.100  6.668603  7265800
2016-01-06  8.045  8.15  8.000  8.035  6.615089  7042000
2016-01-07  7.905  8.14  7.880  8.030  6.610972  7850400